html {
  font-family: Arial;
  font-size: 14px;
}

#container {
  margin-top: 3px;
}

.konvajs-content {
  border: 1px solid black;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: grey;
  overflow: hidden;
  display: block;
}

.checkgroup {
  display: inline-grid;
  vertical-align: middle;
}

.toolgroup {
  display: inline-block;
  margin: 2px;
  border: 1px dashed black;
}

.toolgrouptitle {
  margin-top: 3px;
  margin-left: 3px;
  text-align: center;
  color: #000000;
}

/* Style the links inside the navigation bar */
.tool {
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
  padding: 9px 10px;
  margin: 5px 3px;
  border: none;
  transition: 100ms;
  cursor: pointer;
  outline: none;
}

/* Change the color of links on hover */
.tool:hover, .tool:visited, .tool:focus {
  background-color: #ddd;
  color: black;
}

.selected {
  background-color: #ddd;
  color: #2c50d0 !important;
}

#nodecolorwrapper {
  display: inline-grid;
  vertical-align: middle;
  margin: 3px;
}

#nodecolor {
  background-color: #afadad;
}