html {
  /* style général */
  font-family: calibri;
  font-size: 14px;
  background-image: url("background.jpg"); /* Met comme image de fond une nuance de gris */
  background-size: cover; /* L'image de fond s'adapte a la taille de la page pour toujours faire sa taille */
}

#container {
  /* Style de la boite contenant le graphe */
  margin-top: 10px; /* Crée une marge */
  margin-left: 5px;
}

.konvajs-content {
  border: 2px solid black; /* Crée un bord au container */
  background-color: white; /* Fond blanc dans la boite du graphe */
  border-radius: 4px; /* Met des angles arrondis au container */
}

.checkgroup {
  /* Boutons a cocher */
  display: inline-grid; /* ne pas faire de retour a la ligne mais les mettre a droite du bouton 'ajouter' */
  vertical-align: middle; /* aligner verticalement */
}

.toolgroup {
  /* Boites de boutons */
  background-color: #ffcc46; /* Fond jaune des boites */
  display: inline-block; /* aligner horizontalement les boites */
  margin: 5px;
  border: 2px outset black; /* Crée un bord */
  border-radius: 4px; /* Met des angles arrondis */
}

.toolgrouptitle {
  /* Titres des boites de boutons */
  margin-top: 3px;
  margin-left: 3px;
  font-size: 18px;
  text-decoration: underline; /* Texte souligné */
  text-align: center; /* Centre le titre  horizontalement au milieu de la boite */
  color: #000000; /* Texte en noir */
}

.tool {
  /* Boutons */
  color: #f2f2f2; /* Texte en blanc */
  background-color: #333; /* Fond du bouton en noir*/
  text-align: center;
  padding: 9px 10px; /* crée des marges */
  margin: 5px 9px; /* crée des marges */
  border: none; /* evite de crée des bords aux boutons */
  transition: 100ms; /* temps de transition lorsque la souris est placée sur le bouton */
  cursor: pointer; /* change le curseur pour faire comprendre que le bouton est cliquable */
  border-radius: 7px;
}

/* Lorsque la souris est sur le bouton */
.tool:hover,
.tool:visited,
.tool:focus {
  background-color: #ddd; /* Fond gris */
  color: black; /* Texte noir */
}

.selected {
  /* Lorsque le bouton est selectionné */
  background-color: #ddd; /* Fond gris */
  color: #2c50d0 !important; /* Texte bleu */
}

.node-radius {
  /* Bouton de la taille des noeuds */
  display: inline-grid; /* évite le retour a la ligne */
  vertical-align: middle; /* aligne le bouton */
  margin: 3px; /* crée des marges */
}

#nodecolorwrapper {
  /* Bouton de la couleur des noeuds */
  display: inline-grid; /* évite le retour a la ligne */
  vertical-align: middle; /* aligne le bouton */
  margin: 3px; /* crée des marges */
}

#nodecolor {
  /* Bouton de la taille des noeuds */
  background-color: #afadad; /* Centre du bouton gris */
}

.right-column {
  /* Partie de droite */
  padding: 10px; /* Ne colle pas la boite a droite ni en haut */
  font-size: 18px;
  width: 35%;
  float: right; /* Se met sur la droite de l'écran */
  text-indent: 10px; /* Ne colle pas le texte a gauche */
}

.algout {
  /* Boite de sortie des algorithmes */
  border: 2px solid black;
  display: block;
  border-radius: 4px;
}

#out {
  /* texte de sortie des algorithmes */
  font-family: Consolas;
  font-size: 15px;
  padding: 5px;
}

.matrix {
  /* Boite des matrices */
  margin-top: 10px;
  border: 2px solid black;
  display: block;
  border-radius: 4px;
}

#matrix-input {
  /* Boite d'import et d'export des matrices */
  margin-top: 5px;
  margin-left: 10px; /* crée des marges */
  margin-bottom: 10px;
  border: 1px solid black; /* crée des bords */
  border-radius: 4px; /* crée des angles arrondis */
  height: 200px;
  width: 50%; /* prend la moitié de la boite */
  box-sizing: border-box;
  resize: none;
}

#exportselect {
  /* Choix du type d'import */
  margin-bottom: 6px; /* crée une marge en dessous */
}

.credits {
  /* Crédits */
  margin-left: 10px; /* crée des marges */
}
