/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(124, 120, 120);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.tool {
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
  padding: 11px 13px;
  margin: 7px 3px;
  font-size: 17px;
  border: none;
  transition: 100ms;
  cursor: pointer;
}

/* Change the color of links on hover */
.tool:hover {
  background-color: #ddd;
  color: black;
}
